<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>MyFirstProject</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>

		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>layThoiGian</servlet-name>
		<servlet-class>cgm.firstservlet.ServletGioHienTai</servlet-class>
		<init-param>
			<param-name>mail</param-name>
			<param-value>mail@gmail.com</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>process-form</servlet-name>
		<servlet-class>cgm.firstservlet.ProcessServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>process-form</servlet-name>
		<url-pattern>/bai2/sendInfo</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>layThoiGian</servlet-name>
		<url-pattern>/getThoiGian.html</url-pattern> <!-- duong dan cua user dung de gui HttpRequest den Server -->
	</servlet-mapping>
</web-app>